thead{
    color: #988265;
    background-color: #3c3c44;
}
tr{
    border-bottom: 1px solid #3c3c44;
}
td{
    min-width: 50px;
}
td > button{
    color: #988265;
    background-color: #3c3c44;
    border: #3c3c44;
    border-radius: 8px;
    padding: 5px;
}

.imageVoiture{
    height: 100px;
    width: 150px;
}

.cellule-td {
    text-align: center;
}

.table-responsive {
    padding: 2%;
}
    

.descriptionVoiture{
    /* text-overflow: ellipsis; */
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.toast{
    min-width: 250px; 
    margin-left: -125px; 
    position: fixed;
    top: 300px;
    left: 50%;
  }
